<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crud Mongodb Nodejs</title>
</head>

<body>
    <div class="p-3 w-25">
        <form id="form_pais" method="POST" action="/pais/create">
            <div class="form-group">
                <div class="card">
                    <div class="card-body">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="nombre">
                        <label>Numero de Habitantes</label>
                        <input type="text" class="form-control" name="nroHabitantes">
                        <label>Moneda</label>
                        <input type="text" class="form-control" name="moneda">
                        <label>Idioma</label>
                        <input type="text" class="form-control" name="idioma">
                        <label>Superficie</label>
                        <input type="text" class="form-control" name="superficie"><br>
                        <input type="submit" class="btn btn-dark btn-block" value="Aceptar">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>
    </div>
    <div>
        <form method="GET" action="/pais/">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del Pais</th>
                    <th scope="col">Numero de Habitantes</th>
                    <th scope="col">Idioma</th>
                    <th scope="col">Superficie</th>
                    <th scope="col">Numero de Habitantes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <script>
                        for (const iterator of Pais) {
                            <th>{iterator}</th>
                        }
                    </script>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
</body>

</html>